* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: repeat;
  text-shadow: 1px 1px 1px #000;
  filter: dropshadow(color=#000, offx=1, offy=1);
  color: #b2b9bC;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 2em;
}

h1,h2,h3,h4,h5,h6 {
  color: #fff;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #00AEFF;
}

.button {
  background: #49825c;
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.btn-blue {
  background: #459bdd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#459bdd', endColorstr='#358bd6');
  background: -webkit-gradient(linear, left top, left bottom, from(#459bdd), to(#358bd6));
  background: -webkit-linear-gradient(top, #459bdd, #358bd6);
  background: -moz-linear-gradient(top, #459bdd, #358bd6);
  background: -o-linear-gradient(top, #459bdd, #358bd6);
  background: -ms-linear-gradient(top, #459bdd, #358bd6);
  background: linear-gradient(top, #459bdd, #358bd6);
  border: 1px solid #317DB8;
  -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4), 0 0 1px 1px rgba(86, 172, 239, 0.25) inset;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4), 0 0 1px 1px rgba(86, 172, 239, 0.25) inset;
  color: #fff;
}

.btn-blue, .btn-gray {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 29px;
  line-height: 25px;
  min-width: 60px;
  padding: 0 8px;
  text-align: center;
  text-transform: none;
}

input[type=text], input[type=password], textaera, select[multiple], select[size], input[type=email], select {
  background-color: #141414;
  height: 31px;
  border: solid #2b2b2b 1px;
  padding: 0px 8px;
  margin: 0px 10px 0px 0px;
  margin-left: 10px;
  outline: none;
  color: #bbbbbb;
  -webkit-box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}

.wide {
  max-width: 100%;
}

.legal-box {
  height: 450px;
  overflow: auto;
  font-size: 16px;
}

.form-vertical {
  margin-top: 10px;
  float: left;
}

#nav a {
  word-spacing: 2px;
}

#hero {
  background: #32393C;
  text-align: center;
}

#footer {
  color: #62696C;
  text-align: center;
}
